.chartTitle {
  font-size: 2.5rem;
  color: white;
  margin: 1rem;
  margin-top: 1rem;
}
.BottomPanel {
  background-color: transparent;
  width: 100%;
  height: 10rem;
  display: flex;
}
.SettingSidePanel {
  background-color: transparent;
  width: 10rem;
  height: 10rem;
  margin-left: 5%;
}
.SettingButtonNavigation {
  margin-top: 1.5rem;
  margin-left: 0.2rem;
  display: flex;
  flex-direction: column;
  padding: 0;
  background-color: transparent;
  border-color: transparent;
  font-size: 1.5rem;
}

.chartStyle {
  width: 70%;
  max-width: 70%;
  margin: 4rem;
  align-items: center;
  max-height: 50vh;
}

.SettingContentPanel {
  background-color: transparent;
  margin-left: 10%;
  margin-right: 10%;
  width: 100%;
  height: 10rem;
}
.AccountInfoPanel {
  background-color: rgb(71, 71, 71);
  margin: 1rem;
  margin-top: 8rem;

  border-radius: 0.6rem;
  height: 10rem;
  display: flex;
}

.ImageContainer {
  height: 100%;
  width: 10rem;
  min-height: 100%;
  min-width: 10rem;
  margin-left: 1rem;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editButtonContinaer {
  height: 3rem;
  width: 3rem;
  min-width: 3rem;
  min-height: 3rem;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editButtonContinaer .p-button {
  background-color: transparent;
  padding: 0;
  border-color: transparent;
}
.ProfileImgStyle {
  height: 90%;
  width: 90%;
  border-radius: 10rem;
}

.IconEditImg * {
  background-color: transparent;
  margin: 0;
  padding: 0;
}

.NickContainer {
  margin-top: 1.2rem;
  height: 10rem;
  font-size: 2rem;
  font-weight: bold;
}

.DescriptionContainer {
  width: 100%;
  height: 100%;
  color: white;
  margin-left: 6rem;
  overflow-y: scroll;
}

.LogoutButtonContainer {
  width: 6rem;
  background-color: $primary;
  margin-top: 1rem;
  height: 2rem;
  margin-right: 2rem;
  margin-left: 1rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
}
.LogoutButtonContainer .p-button {
  background-color: transparent;
  border-radius: 0.5rem;
  border-color: transparent;
}

.SettingButtonNavigation:hover {
  color: rgb(138, 110, 131);
}

.textNavigationighlihgt {
  color: $primary;
}

.textNavigationighlihgt {
  color: $primary;
}

.SettingButtonNavigation .selected * {
  color: $primary;
}
.selected {
  color: $primary;
}
.bottomLine {
  height: 0.2rem;
  width: 120%;
  background-color: white;
}
.bottomLine .selected {
  background-color: transparent;
  height: 10rem;
  background-color: white;
}

.SettingContentRow {
  margin: 1rem;
  font-size: 1.2rem;
  color: white;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.changeButton {
  background-color: $primary;
  border-radius: 0.3rem;
  border-color: transparent;
  font-size: 0.8rem;
  margin-left: 3rem;
}
.removeAccountButton {
  background-color: red;
  border-radius: 0.3rem;
  border-color: transparent;
  font-size: 0.8rem;
}
.passwordCont {
  background-color: rgb(23, 23, 23);
}
.passwordCont .p-inputtext {
  background-color: rgb(23, 23, 23);
}
