@import '../variables.scss';
.BasicButton {
  background-color: $primary;
  width: fit-content;
  block-size: fit-content;
  border-radius: 0.22rem;
  border-width: 0;
  border-radius: 1rem;
  font-size: 1.5rem;
  margin: 2rem;
  font-weight: bold;
}

.BasicButton .p-button-label {
  margin-left: 2rem;
  margin-right: 2rem;
}
.buttonContent {
  margin: 1rem;
}
