@import "../variables.scss";
.PlayGroundBase{
    background-color: rgb(142, 161, 119);
    margin-top: $headerHeight;
    border: 2px solid #0000ff;
    // height: 100%; 
    // height: calc(100% - $headerHeight * 2 );
    overflow: hidden;
    max-height: calc(100% - $headerHeight);
    
}

.PlayGroundBase .splitter{
    background-color: rgb(118, 241, 200);
    
}


