@import '../variables.scss';

.exerciseSetupPanel {
  background-color: rgb(32, 32, 32);
  color: rgb(248, 248, 248);
}

.setupPanel {
  // background-color: rgb(255, 187, 0);
  height: 100%;
  overflow-y: scroll;
  overflow-x: scroll;
}

.manualTestPanel {
  // background-color: blue;
  height: 100%;
  overflow: scroll;
}

.autoTestPanel {
  // background-color: green;
  height: 100%;
  overflow-y: scroll;
  overflow-x: scroll;
}

.languageDropDown {
  background-color: rgb(56, 56, 56);
  color: white;
}

.languageDropDown .p-multiselect-label {
  color: white;
}

.languageDropDown .p-multiselect-item {
  // background-color: red;
}

.languageDropDown .p-multiselect-panel {
  // background-color: red;
}

.languageDropDown .p-hidden-accessible {
  // background-color: red;
}
.p-multiselect-panel .p-component .p-ripple-disabled {
  // background-color: red;
}

.p-multiselect-items-wrapper {
  background-color: rgb(43, 43, 43);
}
.p-multiselect-header {
  background-color: rgb(34, 34, 34);
}

.p-multiselect-item {
  background-color: rgb(31, 31, 31);
  color: white;
}
.p-checkbox-input {
  // background-color: red;
  // color: red;
}

.p-highlight {
  // fill: red;
}

.p-multiselect-token {
  background-color: rgb(114, 114, 114);
  color: white;
}

.p-checkbox.p-component.p-highlight * {
  background-color: $primary;
  border-color: $primary;
}

.panelSection {
  // background-color: blue;
  margin-top: 1rem;
  width: 100%;
}

.SubPanelSection {
  display: flex;
  flex-direction: row;
}

.panelVerticalSection {
  // background-color: rgb(0, 255, 136);
  margin-left: 0.5rem;
  width: 100%;
}

.vue-slider-process * {
  height: 3rem;
  // border-color: red;
  // fill: red;
}

.vue-slider-ltr {
  height: 3rem;
}
.numberInputRam * {
  width: 8rem;
}

.numberInput * {
  width: 8rem;
  margin: 0.5rem;
}

.horizontalSection {
  // background-color: red;
  margin: 1rem;
  display: flex;
}

.RadioButtonSection {
  // background-color: blue;
  margin-right: 0.5rem;
}

.smallNumberInput * {
  width: 4rem;
  margin: 0.5rem;
}

.sliderContaienr {
}
.sliderContaienr .p-slider {
}
.sliderContaienr .p-slider-handle {
  margin-top: -0.5rem;
}

.checkBoxContainer {
  // background-color: aqua;
  margin-left: 1rem;
}
.RadioButtonSection .p-highlight * {
  background-color: $primary;
  // width: 10rem;
}
.RadioButtonSection * {
  border-color: $primary;
}

.p-inputtext {
  background-color: rgb(23, 23, 23);
  color: white;
}
.addButton * {
  background-color: $primary;
  width: 100rem;
}

.p-slider-range {
  // height: 100rem;
  background-color: $primary;
}
.addButton {
  background-color: $primary;
}
