@import '../variables.scss';

.TopBarContainer {
  display: flex;
  background-color: rgb(23, 23, 23);
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 6;
  height: $headerHeight;
  box-shadow: 0px 4px 5px rgb(0, 0, 0, 0.5);
}

.topBarDummy {
  height: $headerHeight;
  max-height: $headerHeight;
  min-height: $headerHeight;
}

.TopBarList {
  display: flex;
  // background-color: blue;
  align-items: center;
  flex-direction: row;
  margin: 20px;
  width: 100%;
}

.TopBarItemContainer {
  // background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
}

.TopBarItemIcon {
}

.TopBarItemTitle {
  color: $primary;
  text-decoration: none;
}
.TopBarItemTitle {
  text-decoration: none !important;
}

.TopBarItemTitle:hover {
  /* Remove underline on hover */
  text-decoration: none !important;
}

a {
  text-decoration: none !important;
}

.TopBarItemContainer svg {
  // fill: red;
  fill: #a54fb3;
}

.selected .TopBarItemIcon {
  fill: #1d1d1d;
}

.TopBarItemContainer.selected {
  background-color: #7f5e83;
  box-shadow: inset 0em 0em 0.2rem rgb(0, 0, 0, 0.2);
}

.selected .TopBarItemTitle {
  color: #1d1d1d;
}
