$primary: #754481;
$primary-dark: #37203d;
$primary-highlight: #94789b;

$InputBackGround: #070707;
$textInputColor: #f3f3f3;

$backgroundColor: rgb(29, 29, 29);
$LightInputBackGround: #535353;

$headerHeight: 5rem;
$themeColor: #a0a8ad;
:root {
  --color-background: #{$backgroundColor};
  --primary: #{$primary};
}
:root {
  --primary-50: #fbf9ff;
  --primary-100: #eae3fe;
  --primary-200: #d9cdfd;
  --primary-300: #c8b7fc;
  --primary-400: #b8a1fb;
  --primary-500: #a78bfa;
  --primary-600: #8e76d5;
  --primary-700: #7561af;
  --primary-800: #754481;
  --primary-900: #754481;
}
