$primary: #754481;
$primary-dark: #37203d;
$primary-highlight: #94789b;

$InputBackGround: #111111;
$textInputColor: #f3f3f3;

$backgroundColor: rgb(29, 29, 29);
$LightInputBackGround: #535353;

$headerHeight: 5rem;

:root {
  --color-background: #{$backgroundColor};
  --primary: #{$primary};
}
